.pantalla2{
    width: 100%;
}
.subtitulos1{
  justify-content: center;
  align-items: center;
}
.part3{
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 10px;
  padding: auto;
}
.proyectos div{
  display: flex;
width: 186px;
height: 186px;
border: 1px solid black;
gap: 10px;
}
.dos{
  background-color: black;
}