.proyect {
  padding: auto;
  width: 100%;
  height: 240px;
display: flex;
justify-content: space-between;
}
.proyect div{
width: 240px;
height: 240px;
border: 2px solid black;
gap: 10px;
border-radius: 10px;
}
.proy2{
  background-color: black;
}
.bash{
  margin: 30px;
  margin-left: 40px;
  width: 10rem;
}
.htms{
  width: 13rem;
  margin-left: 13.5px;
  margin-top: 18px;
}
.mysql{
  width: 15rem;
}
.java{
  width: 12rem;
  margin-top: 25px;
  margin-left: 25px;
}
.proyectos{
  margin-top: 5rem;
  margin: 70px;
}